*{
    margin: 0;
    padding: 0;
}
.App{
    width: 100%;
    height: 100vh;
    background-image: url('../img/background/Ventura.jpg');
    background-size: auto 211%; 
    background-position: center; 
    background-repeat: no-repeat;
}

.navB{
    position: static;
    padding: 5px 15px 4px 16px;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color:  rgba(86, 83, 83, 0.3) ;
    color: white;
    backdrop-filter: blur(100px);

}

.navB :nth-child(1){
    font-size: 0.9rem;    
    font-weight: bold ;
}
.navB :nth-child(1) span{
    margin-left: 20px;
}

.navB :nth-child(2){
    font-size: 0.9rem;    
    font-weight: bold ;
}
.navB :nth-child(2) span{
    margin-left: 20px;
}
.containerContent{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFooter{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 55px;
}

.footer{   
    width: 95vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(59, 56, 56, 0.343);
    color: white;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    padding-left: 10px;    
}

.footer :nth-child(1){
  background-image: url('../img/icons/finder.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(2){
  background-image: url('../img/icons/safari.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(3){
  background-image: url('../img/icons/mensaje.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(4){
  background-image: url('../img/icons/mail.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(5){
  background-image: url('../img/icons/maps.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(6){
  background-image: url('../img/icons/fotos.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(7){
  background-image: url('../img/icons/facetime.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(8){
  background-image: url('../img/icons/calendario.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(9){
  background-image: url('../img/icons/contact.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(10){
  background-image: url('../img/icons/notas.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(11){
  background-image: url('../img/icons/music.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(12){
  background-image: url('../img/icons/keynote.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(13){
  background-image: url('../img/icons/app.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(14){
  background-image: url('../img/icons/sistem.png');
  background-position: center; 
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  transition: .2s;
}
.footer :nth-child(1):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(2):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(3):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(4):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(5):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(6):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(7):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(8):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(9):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(10):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(11):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(12):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(13):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(14):hover{
    transform: translatey(-25px) scale(1.05);
}
.footer :nth-child(15):hover{
    transform: translatey(-25px) scale(1.05);
}


.marco{
    width: 835px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leftNavBar{
    height: 100%;
    width: 17vw;
    background-color: rgba(10, 10, 10, 0.392);
    backdrop-filter: blur(100px);
    border-radius:9px 0px 0px 9px;    
   
}
.content1{
    height: 100%;
    width: 50vw;
    background-color: rgb(55, 44, 40);
    border-radius:0px 9px 9px 0px;
    border-left: 1px solid ;
    border-color:black;
    
}

.buttonIcons{
  display: flex;
  flex-direction: row;
}
.rojo{
  display: flex;
  margin-top:10px;
  margin-left: 15px;
  width: 13px;
  height: 13px;
  background-color:  rgb(235, 34, 34) ;
  border-radius: 100%;
  color: rgb(235, 34, 34);
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  cursor: default;
}
.amarillo {
  display: flex;
  margin-top:10px;
  margin-left: 13px;
  width: 13px;
  height: 13px;
  background-color: rgb(223, 175, 15) ;
  border-radius: 100%;
  color: rgb(223, 175, 15) ;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  cursor: default;
}
.verde{
  display: flex;
  margin-top:10px;
  margin-left: 13px;
  width: 13px;
  height: 13px;
  background-color:  rgb(10, 178, 10) ;
  border-radius: 100%;
  color:  rgb(10, 178, 10);
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  cursor: default;
}
.v1{
  transform: rotate(190deg);
}
.v2{
  transform: rotate(10deg);
}
.rojo:hover{
  color: rgb(96, 15, 15);
  font-size: 13px;
  cursor: default;
}

.amarillo:hover{
  color: rgb(135, 107, 13) ;
  font-size: 17px;
  cursor: default;
}


.verde:hover{
  color:rgb(16, 62, 16);
  font-size: 17px;
  cursor: default;
  
}

.buscador {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  height: 26px;
  margin-top:20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(86, 86, 86, 0.472);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-sizing: border-box;
}
.buscador:hover{
  border: solid 3px rgb(79, 128, 174);
}
.lupa {
  height: 28px;
  margin-left:10px;
  margin-right:10px;
}
.buscador input[type="text"]{
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.007);
  border:none;
  color: white;
  outline: none;
}
.foto{
  background-color:red;
  background-position: center; 
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  border-radius: 100%;
  margin-left: 10px;
}
.perfil {
  margin: 12px 9px 9px 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.perfil:hover{
  background-color:rgb(77, 77, 252);
  height: 50px;
  border-radius: 5px;
}
.nameUser{
  margin-left: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
.nameUser span{
  color: rgba(255, 255, 255, 0.687);
  margin-top: 4px;
  font-weight: normal;
}

.name{
  color: white;
  margin: 15px 0px 0px 25px;
  font-weight: bold;
}

.fl{
  display: flex;
  flex-direction: column;

}

.perfilContent{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.fotoPerfilContent{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 80%; 
  border-radius: 100%;
}

.perfilContent p{
  color: white;
  margin: 15px 0px 3px 0px;
  font-weight: bold;
}
.perfilContent span{
  color: rgb(255, 255, 255);
  margin-top: 4px;
  font-weight: normal;
}
.accordionPrincipal{
  border: 1px solid;
  border-color: rgb(72, 73, 72);
  margin: 15px 8px 0px 8px;
  padding: 9px;
  border-radius: 5px;
}
.accordion {
  width: 100%;
  
}

.iconUser{
  padding: 3px;
  width: 24px;
  height: 24px;
}

.accordion-item {
  border-bottom: 0.3px solid #686868;
  margin-bottom: 2px;
  color:white;
  font-size: 13px;
  font-weight: bold;
}

.accordion-header {
  background-color:rgb(55, 44, 40);
  padding: 3px;
  cursor: pointer;
  
}
.contentImg {
  background: linear-gradient(to bottom , #d2dadd 0%, #7b7377 100%);
  width:30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 5px;
}
.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-item.active .accordion-content {
  display: block;
}

.space{
  width: 100%;
  display:flex;
  justify-content: space-between;
}
.spaceS{
  display: flex;
  flex-direction: row;
  align-items:center;
}
.iconFlecha{
  width: 30px;
  height: 30px;
}
.icon-social{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}
.icon-social div{
  margin: 20px 5px 3px 5px;
}

.icons-skills{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}